/* #mainSiteHeader ---------------------------------------------------*/
#mainSiteHeader {
	width: 100%;
	height: 10px;
	background: #7a8187;
	position: fixed;
	z-index: 9000;
}
#mainSiteHeader #logo {
	width: 261px;
	height: 38px;
	position: absolute;
		top: 30px;
		left: 23px;
	background: url('../img/sprite.png') no-repeat;
	cursor: pointer;
	z-index: 9002;
}

#mainSiteHeader #logo, #mainSiteHeader #logoiPad {
	width: 261px;
	height: 38px;
	position: absolute;
		top: 30px;
		left: 23px;
	background: url('../img/sprite.png') no-repeat;
	cursor: pointer;
	z-index: 9002;
}
#mainSiteHeader #logoiPad #linkHome {
	width: 81px;
	height: 38px;
	float: left;
	display: block;
}
#mainSiteHeader #logoiPad #showNav {
	width: 180px;
	height: 38px;
	float: left;
	display: block;
}

#mainSiteHeader nav {
	width: 980px;
	height: 506px;
	position: absolute;
		top: 72px;
		left: 23px;
	display: none;
}
#mainSiteHeader nav ul#navLinkContainer {
	width: 980px;
	height: 464px;
	background: url('../img/header-auth-bg.png');
}
#mainSiteHeader nav ul#navLinkContainer li#navColOne {
	width: 261px;
	height: 390px;
	position: absolute;
		top: 31px;
		left: 35px;
}
#mainSiteHeader nav ul#navLinkContainer li#navColTwo {
	width: 261px;
	height: 390px;
	position: absolute;
		top: 31px;
		left: 356px;
}
#mainSiteHeader nav ul#navLinkContainer li#navColThree {
	width: 261px;
	height: 390px;
	position: absolute;
		top: 31px;
		left: 678px;
}
#mainSiteHeader nav ul#navLinkContainer li .colHeader {
	padding-bottom: 13px;
	border-bottom: 3px solid #5c7785;
	font: normal 10px/10px 'proxima-nova', sans-serif;
	letter-spacing: 1px;
	text-shadow: 0 -1px #2a2c34;
	color: #8e999f;
}
#mainSiteHeader nav ul#navLinkContainer li .colHeader a,
#mainSiteHeader nav ul#navLinkContainer li .colHeader a:active,
#mainSiteHeader nav ul#navLinkContainer li .colHeader a:visited,
#mainSiteHeader nav ul#navLinkContainer li .colHeader a:hover { color: #8e999f; text-decoration: none; }
#mainSiteHeader nav ul#navLinkContainer li .colHeader span { color: #c2cace; }
#mainSiteHeader nav ul#navLinkContainer li ul {
	margin: 0;
	padding: 0;
}
#mainSiteHeader nav ul#navLinkContainer li ul li {
	width: 261px;
	height: 52px;
	background: url('../img/header-nav-divide.png') 0 bottom no-repeat;
}
#mainSiteHeader nav ul#navLinkContainer li ul li a {
	height: 14px;
	padding: 18px 0 20px 70px;
	display: block;
	font: normal 14px/14px 'proxima-nova', sans-serif;
	letter-spacing: 1px;
	text-shadow: 0 -1px #2a2c34;
	text-decoration: none;
	color: #c2cace;
	background: url('../img/header-nav-icons.png') 5px 0 no-repeat;
}
#mainSiteHeader nav ul#navLinkContainer li ul li a:hover {
	color: #4388ac;
	background: url('../img/header-nav-icons.png') -295px 0 no-repeat;
}
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_david { }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_electronics { background-position: 5px -52px; }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_electronics:hover { background-position: -295px -52px; }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_energy { background-position: 5px -104px; }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_energy:hover { background-position: -295px -104px; }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_health { background-position: 5px -156px; }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_health:hover { background-position: -295px -156px; }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_security { background-position: 5px -208px; }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_security:hover { background-position: -295px -208px; }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_terraforming { background-position: 5px -260px; }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_terraforming:hover { background-position: -295px -260px; }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_transporation { background-position: 5px -312px; }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_transporation:hover { background-position: -295px -312px; }

#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_about { background-position: 5px -364px }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_about:hover { background-position: -295px -364px }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_tedtalk { background-position: 5px -416px }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_tedtalk:hover { background-position: -295px -416px }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_investor { background-position: 5px -468px }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_investor:hover { background-position: -295px -468px }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_timeline { background-position: 5px -520px }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_timeline:hover { background-position: -295px -520px }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_press { background-position: 5px -572px }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_press:hover { background-position: -295px -572px }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_careers { background-position: 5px -624px }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_careers:hover { background-position: -295px -624px }

#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_pp_1 { background-position: 5px -676px }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_pp_1:hover { background-position: -295px -676px }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_pp_2 { background-position: 5px -728px }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_pp_2:hover { background-position: -295px -728px }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_pp_3 { background-position: 5px -780px }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_pp_3:hover { background-position: -295px -780px }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_pp_4 { background-position: 5px -832px }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_pp_4:hover { background-position: -295px -832px }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_pp_5 { background-position: 5px -884px }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_pp_5:hover { background-position: -295px -884px }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_pp_6 { background-position: 5px -936px }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_pp_6:hover { background-position: -295px -936px }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_pp_7 { background-position: 5px -988px }
#mainSiteHeader nav ul#navLinkContainer li ul li a#nav_pp_7:hover { background-position: -295px -988px }

li a.classified:hover { cursor: not-allowed; }

#mainSiteHeader nav ul#navLinkContainer li#share {
	width: 330px;
	height: 20px;
	position: absolute;
		bottom: 100px;
		left: 345px;
}
#mainSiteHeader nav ul#navLinkContainer li#share .shareFacebook,
#mainSiteHeader nav ul#navLinkContainer li#share .shareTwitter,
#mainSiteHeader nav ul#navLinkContainer li#share .shareStumble {
	width: 100px;
	height: 20px;
	margin-right: 10px;
	float: left;
	overflow: hidden;
}
#mainSiteHeader nav ul#navLinkContainer li#share .shareFacebook {width: 93px; }
#mainSiteHeader nav ul#navLinkContainer li#share .shareFacebook .fb-like { top: 0; }
#mainSiteHeader nav ul#navLinkContainer li#share .shareTwitter { width: 100px; }
#mainSiteHeader nav ul#navLinkContainer li#share .shareStumble { width: 110px; }

#mainSiteHeader nav .bill {
	width: 980px;
	height: 147px;
	position: absolute;
		bottom: 42px;
		left: 0;
	background: url('../img/header-nav-bill.png') no-repeat;
	display: none;
	z-index: 9999;
}
#mainSiteHeader nav .copy {
	width: 950px;
	height: 12px;
	padding: 15px;
	position: absolute;
		bottom: 0;
		left: 0;
	font: normal 10px/12px 'proxima-nova', sans-serif;
	letter-spacing: 1px;
	text-shadow: 0 -1px #2a2c34;
	color: #8f969a;
	background: url('../img/header-nav-copy.png');
}
#mainSiteHeader nav .copy a { color: #8f969a; text-decoration: none; }
#mainSiteHeader nav .copy .legal {
	height: 10px;
	padding: 15px;
	position: absolute;
		right: 0;
		bottom: 0;
	text-decoration: none;
	color: #8f969a;
	cursor: pointer;
}
#mainSiteHeader #user {
	width: 174px;
	height: 27px;
	position: absolute;
		top: 30px;
		right: 23px;
	cursor: pointer;
	z-index: 9001;
}
#mainSiteHeader .loginRegister, #mainSiteHeader .myAccount { background: url('../img/sprite.png') -261px 0 no-repeat; }
#mainSiteHeader .myAccount { background-position: -261px -54px; }
/*#mainSiteHeader .loginRegister:hover { background-position: -261px -27px; }*/
/*#mainSiteHeader .myAccount:hover { background-position: -261px -81px; }*/
/*-----------------------------------------------------------*/

/* user authentication --------------------------------------*/
#mainSiteHeader #navAuthentication {
	width: 560px;
	padding: 36px;
	position: absolute;
		top: 61px;
		right: 23px;
	background: url('../img/header-auth-bg.png');
	z-index: 9005;
	display: none;
}
#mainSiteHeader #navAuthentication h5 {
	margin: 0 0 13px;
	padding: 0;
	font: 400 10px/10px 'proxima-nova', sans-serif;
	letter-spacing: 1px;
	text-shadow: 0 -1px #2a2c34;
	color: #8e999f;
}
#mainSiteHeader #navAuthentication h6 {
	margin: 0 0 20px;
	padding: 0;
	font: 400 13px/13px 'proxima-nova', sans-serif;
	letter-spacing: 1px;
	text-shadow: 0 -1px #2a2c34;
	color: #b2bec4;
}
#mainSiteHeader #navAuthentication h6 span.number {
	font: 400 13px/13px 'proxima-nova', sans-serif;
	color: #76929a;
}
#mainSiteHeader #navAuthentication #registerWO {
	margin: 0 0 20px;
	padding: 0;
	font: 400 10px/10px 'proxima-nova', sans-serif;
	letter-spacing: 1px;
	text-shadow: 0 -1px #2a2c34;
	text-decoration: none;
	color: #b2bec4;
	display: block;
	background: url('../img/header-regwobg.gif') 234px 2px no-repeat;
}
#mainSiteHeader #navAuthentication .headerBr {
	width: 262px;
	height: 3px;
	margin-bottom: 21px;
	/*background: url('../img/header-auth-headerbr.jpg') no-repeat;*/
	background: #5c7785;
}
#mainSiteHeader #navAuthentication .sectionBr {
	width: 262px;
	height: 2px;
	margin-bottom: 20px;
	background: url('../img/header-nav-divide.png') no-repeat;
}
#mainSiteHeader #navAuthentication a.connectWith {
	width: 260px;
	height: 31px;
	display: block;
	position: relative;
	text-decoration: none;
}
#mainSiteHeader #navAuthentication .connectWith .logo {
	width: 35px;
	height: 31px;
	position: absolute;
		top: 0;
		left: 0;
	background: url('../img/header-auth-socialicons.jpg') no-repeat;
}
#mainSiteHeader #navAuthentication .connectWith .text {
	width: 225px;
	height: 11px;
	padding: 10px 0;
	position: absolute;
		top: 0;
		left: 35px;
	font: 400 11px/11px 'proxima-nova', sans-serif;
	letter-spacing: 1px;
	text-shadow: 0 -1px #2a2c34;
	text-align: center;
	color: #c7d5dd;
	background: url('../img/header-auth-blue-bg.jpg');
}
#mainSiteHeader #navAuthentication .withFacebook { margin-bottom: 8px; }
#mainSiteHeader #navAuthentication .withTwitter { margin-bottom: 20px; }
#mainSiteHeader #navAuthentication .withTwitter .logo { background-position: -35px 0; }

#mainSiteHeader #navAuthentication #showConnectWith { }
#mainSiteHeader #navAuthentication #showProceed {
	margin-bottom: 20px;
	display: none;
	font: 400 12px/12px 'proxima-nova', sans-serif;
	letter-spacing: 1px;
	text-shadow: 0 -1px #2a2c34;
	text-transform: uppercase;
	color: #549eca;
}
#mainSiteHeader #navAuthentication #showProceed .nextStepCopy { color: #b2bec4; }
#mainSiteHeader #navAuthentication .authForm .inputField, #mainSiteHeader #navAuthentication .authForm .dobField {
	width: 242px;
	height: 11px;
	margin: 0 0 7px;
	padding: 10px;
	border: none;
	border-top: 1px solid #202421;
	font: 400 11px/11px 'proxima-nova', sans-serif;
	letter-spacing: 1px;
	color: #8e999f;
	background: url('../img/header-auth-formbg.jpg');
}

#mainSiteHeader #navAuthentication .authForm .pwHolder {
	width: 262px;
	height: 38px;
}
#mainSiteHeader #navAuthentication .authForm .pwHolder .dummyPW { display: block; }
#mainSiteHeader #navAuthentication .authForm .pwHolder .realPW { display: none; }

#mainSiteHeader #navAuthentication .authForm .dobField {
	margin-right: 4px;
	float: left;
	text-align: center;
}
#mainSiteHeader #navAuthentication .authForm .dobDay { width: 28px; }
#mainSiteHeader #navAuthentication .authForm .dobMonth { width: 28px; }
#mainSiteHeader #navAuthentication .authForm .dobYear { width: 48px; margin-right: 0; }

#mainSiteHeader #navAuthentication .authForm .optinContainer { margin: 10px 0 20px; }
#mainSiteHeader #navAuthentication .authForm .optinBox {
	width: 20px;
	height: 19px;
	margin-right: 10px;
	float: left;
	border-top: 1px solid #202421;
	background: url('../img/header-auth-formbg.jpg');
	cursor: pointer;
}
#mainSiteHeader #navAuthentication .authForm .optinBoxChecked { background: url('../img/header-auth-socialicons.jpg') 0 -31px no-repeat; }
#mainSiteHeader #navAuthentication .authForm .optinText {
	width: 260px;
	height: 20px;
	floa: left;
	font: 400 9px/10px 'proxima-nova', sans-serif;
	letter-spacing: 1px;
	color: #b2bec4;
}
#mainSiteHeader #navAuthentication .authForm .inputSubmit {
	width: 80px;
	height: 31px;
	padding: 10px 0;
	float: left;
	display: block;
	border: 0;
	font: 400 11px/11px 'proxima-nova', sans-serif;
	letter-spacing: 1px;
	text-shadow: 0 -1px #2a2c34;
	text-align: center;
	color: #c7d5dd; 
	background: url('../img/header-auth-blue-bg.jpg');
}
#mainSiteHeader #navAuthentication .authForm .inputOther {
	width: 170px;
	height: 11px;
	padding: 10px 0 10px 10px;
	float: left;
	font: 400 11px/11px 'proxima-nova', sans-serif;
	letter-spacing: 1px;
	text-shadow: 0 -1px #2a2c34;
	text-decoration: none;
	color: #c7d5dd; 	
}
#mainSiteHeader #navAuthentication .authForm .inputCancel { width: 80px; }
#mainSiteHeader #navAuthentication .authForm p {
	margin: 16px 0 0 0;
	padding: 0;
	font: 400 9px/11px 'proxima-nova', sans-serif;
	letter-spacing: 1px;
	text-shadow: 0 -1px #2a2c34;
	color: #b2bec4;
}
#mainSiteHeader #navAuthentication #sectionLogin {
/*
	position: absolute;
		top: 47px;
		left: 0;
*/
	display: block;
}
#mainSiteHeader #navAuthentication #sectionForgotPassword {
	position: absolute;
		top: 47px;
		left: 0;
	display: none;
}
#mainSiteHeader #navAuthentication #sectionForgotPassword p {
	margin: 0 0 20px 0;
	padding: 0;
	font: 400 12px/14px 'proxima-nova', sans-serif;
	letter-spacing: 1px;
	text-shadow: 0 -1px #2a2c34;
	color: #b2bec4;
}
#mainSiteHeader #navAuthentication #sectionForgotPassword .forgotPassForm .inputField { margin-bottom: 20px; }

#mainSiteHeader #navAuthentication .message {
	height: 11px;
	margin: 20px 0 0 0;
	font: 400 11px/11px 'proxima-nova', sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: none;
}
#mainSiteHeader #navAuthentication .msgError { color: #ff0000; text-shadow: 0 -1 #fff; }
#mainSiteHeader #navAuthentication .msgSuccess { color: #549eca; }
/*-----------------------------------------------------------*/

/*-----------------------------------------------------------*/
#mainSiteHeader #navAuthentication #state_loggedOut { min-height: 341px; }
#mainSiteHeader #navAuthentication #state_loggedOut, #mainSiteHeader #navAuthentication #state_loggedIn { }
#mainSiteHeader #navAuthentication #state_loggedOut .col_1,
#mainSiteHeader #navAuthentication #state_loggedIn .col_1,
#mainSiteHeader #navAuthentication #state_loggedOut .col_2,
#mainSiteHeader #navAuthentication #state_loggedIn .col_2 {
	width: 262px;
	float: left;
	position: relative;
}
#mainSiteHeader #navAuthentication #state_loggedOut .col_1,
#mainSiteHeader #navAuthentication #state_loggedIn .col_1 { margin-right: 36px; }
#mainSiteHeader #navAuthentication #state_loggedIn { height: 200px; }
/*-----------------------------------------------------------*/

/*-----------------------------------------------------------*/
#step_2 {
	display: none;
}
/*-----------------------------------------------------------*/

/*-----------------------------------------------------------*/
#mainSiteHeader #navAuthentication #state_loggedIn .userDetails {
	margin-bottom: 20px;
}
#mainSiteHeader #navAuthentication #state_loggedIn .userDetails .userAvatar {
	width: 110px;
	height: 110px;
	margin-right: 10px;
	float: left;
}
#mainSiteHeader #navAuthentication #state_loggedIn .userDetails .userInfo {
	width: 142px;
	height: 67px;
}
#mainSiteHeader #navAuthentication #state_loggedIn .userDetails .userInfo .infoName {
	margin-bottom: 10px;
	font: 700 16px/16px 'proxima-nova', sans-serif;
	letter-spacing: 1px;
	text-shadow: 0 -1px #2a2c34;
	color: #b2bec4;
}
#mainSiteHeader #navAuthentication #state_loggedIn .userDetails .userInfo .infoEmail {
	font: 400 11px/11px 'proxima-nova', sans-serif;
	letter-spacing: 1px;
	text-shadow: 0 -1px #2a2c34;
	color: #b2bec4;
}

#mainSiteHeader #navAuthentication #state_loggedIn #sectionConnected {
	
}
#mainSiteHeader #navAuthentication #state_loggedIn #sectionConnected .connectedStatus {
	height: 31px;
	margin-bottom: 5px;
}
#mainSiteHeader #navAuthentication #state_loggedIn #sectionConnected .optinBox {
	width: 20px;
	height: 19px;
	margin: 5px 10px 0 0;
	float: left;
	border-top: 1px solid #202421;
	background: url('../img/header-auth-formbg.jpg');
	cursor: pointer;
}
#mainSiteHeader #navAuthentication #state_loggedIn #sectionConnected .connected .optinBox {
	background: url('../img/header-auth-socialicons.jpg') 0 -31px no-repeat;
}

#mainSiteHeader #navAuthentication #state_loggedIn #sectionConnected a.connectWith {
	width: 230px;
	height: 31px;
	float: left;
	display: block;
	position: relative;
	text-decoration: none;
}
#mainSiteHeader #navAuthentication #state_loggedIn #sectionConnected .connectWith .logo {
	width: 35px;
	height: 31px;
	position: absolute;
		top: 0;
		left: 0;
	background: url('../img/header-auth-socialicons.jpg') no-repeat;
}
#mainSiteHeader #navAuthentication #state_loggedIn #sectionConnected .connectWith .text {
	width: 195px;
	height: 11px;
	padding: 10px 0;
	position: absolute;
		top: 0;
		left: 35px;
	font: 400 11px/11px 'proxima-nova', sans-serif;
	letter-spacing: 1px;
	text-shadow: 0 -1px #2a2c34;
	text-align: center;
	color: #c7d5dd;
	background: url('../img/header-auth-blue-bg.jpg');
}
#mainSiteHeader #navAuthentication #state_loggedIn #sectionConnected .connected .text {
	width: 185px;
	padding-left: 10px;
	text-align: left;
	background: none;
}
#mainSiteHeader #navAuthentication #state_loggedIn #sectionConnected .withFacebook { margin-bottom: 8px; }
#mainSiteHeader #navAuthentication #state_loggedIn #sectionConnected .withTwitter { margin-bottom: 20px; }
#mainSiteHeader #navAuthentication #state_loggedIn #sectionConnected .withTwitter .logo { background-position: -35px 0; }


#mainSiteHeader #navAuthentication #state_loggedIn #sectionConnected .sectionBr { margin: 20px 0; }
#mainSiteHeader #navAuthentication #state_loggedIn #sectionChangePassword .sectionBr { margin: 23px 0 20px; }

#mainSiteHeader #navAuthentication #state_loggedIn #sectionConnected,
#mainSiteHeader #navAuthentication #state_loggedIn #sectionChangePassword {
	position: absolute;
		top: 0;
		left: 0;
}
#mainSiteHeader #navAuthentication #state_loggedIn #sectionChangePassword { display: none; }
#mainSiteHeader #navAuthentication #state_loggedIn a.acctOptions {
	float: right;
	display: block;
	font: 400 11px/11px 'proxima-nova', sans-serif;
	letter-spacing: 1px;
	text-shadow: 0 -1px #2a2c34;
	text-decoration: none;
	color: #b2bec4;
}
/*-----------------------------------------------------------*/