.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

div#navbar{
    
}
.navbar li { color: #000 } 



body {
    background: black;
}


div#chart_div {
    background: transparent;
} 

div#stream{
    padding-top: 0px;
    padding: 0px;
}

div#background{
    background-image: url("../tO3Wk7tedited.jpg");
    background-size: 100%;
    background-position: center bottom;

}

